@model Employee

@{
    ViewBag.Title = "Create Employee";
}

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-controller="home" asp-action="create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Department"></label>
        <select class="form-control" asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()">
            <option value="">Select...</option>
        </select>
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>